{% extends "film/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col-8 col-md-4 mx-auto">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <legend class="mb-4 pb-2 border-bottom text-center">{% trans "Ajoutez un film !" %}</legend>
                    {{ form | crispy }}
                </div>

                <div class="from-group">
                    <button class="btn btn-outline-info" type="submit">{% trans "Ajouter" %}</button>
                </div>

            </form>
        </div>
    </div>
{% endblock content %}